<form method="post"
      action="{{ path('user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de supprimer votre profil?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-outline-danger mx-1">
        <i class="bi bi-trash"></i>
    </button>
</form>
